/* Nathaniel Lintz: Project 3 */

/* Google Roboto Font */
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

.body{
  font-family: 'Open Sans', sans-serif;
  color: white;
  background: url(http://i.imgur.com/H30Q7ME.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-shadow: 1px 1px rgba(0,0,0,0.2);
}
p{
  text-decoration: none;
}
.container{
  background: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
  margin: auto;
}
.containerInner{
  width: 960px;
  margin: auto;
  margin-top: 100px;
  left: 0;
  right: 0;
  text-align: center;
  text-transform: uppercase;
}
.containerInner2{
  width: 80%;
  margin: auto;
  margin-top: 20px;
  left: 0;
  right: 0;
  text-align: center;
  text-transform: uppercase;
}
.choice{
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  padding-right: 4px;
  outline: none;
  border: 0px;
  background-color: grey;
  border: solid 4px black;
  text-align: center;
  font-size: 30px;
  border-top: black;
  text-shadow: 1px 1px rgba(0,0,0,0.2);
}
.choiceGood{
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  padding-right: 4px;
  width: 100px;
  height: 60px;
  outline: none;
  border: 0px;
  background-color: grey;

  text-align: center;
  font-size: 30px;
  color: black;
  text-shadow: 1px 1px rgba(0,0,0,0.2);
}
.col1{
  float: left;
  width: 30%;
  left: 30px;
  margin: auto;
}
.col2{
  margin-left: 3%;
  float: left;
  width: 25%;
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid-column;
}
.welcome{
  color: white;
  font-size: 20px;
  text-align: center;
  text-shadow: 1px 1px rgba(0,0,0,0.2);
  text-transform: none;
  border-radius: 5px;
}
.border{
  border: 3px solid white;
  padding: 15px 20px;
  box-shadow: 1px 1px rgba(0,0,0,0.2);
  border-radius: 5px;
}
.h1{
  font-family: inherit;
  font-size: 40px;
  color: white;
  text-align: center;
  font-weight: thin;
  line-height: 1.5cm;
  text-shadow: 1px 1px rgba(0,0,0,0.2);
}
.button{
  background-color: white;
  font-size: 24px;
  weight: 600;
  text-align: center;
  box-shadow: 1px 1px rgba(0,0,0,0.2);
  color: #6c5aa8;
  text-shadow: 1px 1px rgba(0,0,0,0.2);
  text-decoration: none;
  padding: 10px 30px;
  border-radius: 5px;
  margin-right: 40px;
}
#button1{
  background-color: white;
  font-size: 24px;
  weight: 600;
  text-align: center;
  box-shadow: 1px 1px rgba(0,0,0,0.2);
  color: #6c5aa8;
  text-shadow: 1px 1px rgba(0,0,0,0.2);
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 5px;
  margin-right: 40px;
  border: solid 4px blue;
}
.buttonTrue{
  border: solid 4px green;
}
.button:hover{
  color: #AECFE5;
}
input:focus {
  outline: none;
}
input{
  display: block;
  margin: 0;
  width: 100%;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: none;
  -moz-border-radius: none;
  -ms-border-radius: none;
  -o-border-radius: none;
  border-radius: none;
}
input{
  padding: 10px;
  border: solid 1px gainsboro;
  -webkit-transition: box-shadow 0.3s, border 0.3s;
  -moz-transition: box-shadow 0.3s, border 0.3s;
  -o-transition: box-shadow 0.3s, border 0.3s;
  transition: box-shadow 0.3s, border 0.3s;
}
input:focus, input.focus {
  border: solid 1px #707070;
  -webkit-box-shadow: 0 0 5px 1px #969696;
  -moz-box-shadow: 0 0 5px 1px #969696;
  box-shadow: 0 0 5px 1px #969696;
}
.nav{
	width: 100%;
  position: fixed;
	background-color: #6c5aa8;
  padding: 10px;
  top: 0;
  right: 0;
  left: 0;
  border-color: none;
  margin: 0px;
  z-index: 9999;
  box-shadow: 0 4px 2px -2px rgba(0,0,0,0.2);
}
.nav li{
	display: inline;
}
.link{
  float: right;
  margin-right: 40px;
  padding: 8px 15px;
	text-decoration: none;
	font-weight: 500;
  font-size: 18px;
	color: white;
  text-decoration: none;
}
.link:hover{
  color: #AECFE5;
  text-decoration: none;
}
.songInfo{
  text-align: center;
  list-style: none;
}
.imgShadow{
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
  -khtml-box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
}
.bottom{  /*background source link styling*/
  position: fixed;
  bottom: 0;
  margin-bottom: 10px;
  margin-right: 10px;
  right: 0;
  text-align: center;
}
.source{  /*background source link font */
  color: white;
  font-size: 12px;
  font-weight: 400;
  text-shadow: 1px 1px rgba(0,0,0,0.2);
}
